*/db
*/rtl_work
*/output_files
*/incremental_db
*/*.bak
*/*c5_pin_model_dump.txt
*/*serv_req_info.txt
*/*modelsim.ini
*/*vsim.wlf
*/*transcript
*/*riscv.qws
*/*dse/*
*/dse*
*/riscv.archive.rpt
*/riscv_assignment_defaults.qdf
*/simulation
*/riscv_nativelink_simulation.rpt

